footer{
    text-align: center;
}
.title {
    text-align: center;
    margin-top: 50px; 
  }
  
  .title h1 {
    font-size: 40px; 
    color: darkmagenta;
  }
  
  .title p {
    font-size: 16px; 
  
  }
  .button-container{
    text-align: center;
  }